*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --smooth-purple: rgb(79, 70, 229);
  --border: 2px solid rgb(229, 231, 235);
  --bradius: 6px;
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter;
}
